body{
    background-color: #e2fcffcb;
    font-family: "Roboto", sans-serif;
}

title{
    text-align: center;
    color: #82acb1cb;
    text-shadow: -2px 0 #587477cb, 0 2px #587477cb, 2px 0 #587477cb, 0 -2px #587477cb;
}

.card-action{
    padding-top: 13px;
}

.entered {
    text-align: center;
}

#picture {
    width: auto;
    height: auto;
    
}

.enteredtext {
    background-color: #587477cb;
    color: white;
    border: 1px solid white;
}
