<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Ailen</title>
    <title>Document</title>
    <!-- 게시물을 보여주는 페이지입니다. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" integrity="sha384-7ynz3n3tAGNUYFZD3cWe5PDcE36xj85vyFkawcF6tIwxvIecqKvfwLiaFdizhPpN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/design.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>bbs</title>
    <style>
      .div_box { margin: 30px 150px ;}
  </style>
</head>
<body>
  
  <div class="div_box">
    <div>
    <h1 style="text-align: center" width="80%" height="100%">Hi {{user}}</h1>
  <div style="margin-left:80%; margin-right:10%"><button href="#" class="card-link" class="btn btn-primary" onclick="location.href='/picUpload'">Upload!</button></div>
</div>
  <!-- for문을 돌면서 받아온 튜플을 출력합니다. -->
  <!-- obj[0], obj[1], obj[2], obj[3], obj[4], obj[5], obj[6] -->
  <!-- title, contents, id,    filename, hum,   tem,    light -->
  {% for obj in data_list %} 
  <div class="row">
    <div class="col s12 m6">
      <div  width="80%" height="100%" class="div_box center-block card blue-grey darken-1">
        <div class="card-content white-text">
          <img src={{obj[3]}} class="center-block" width="30%" height="30%"  alt="File Not Loaded">
          <span class="card-title">{{obj[0]}}</span>
          <h5>{{obj[1]}}</h5>
          <p>{{obj[2]}}</p>
        </div>
        <div class="card-action">
          <p>Humi : {{obj[4]}} / <i class="bi bi-thermometer-half"></i> : {{obj[5]}} / Light : {{obj[6]}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- 에러 발생시 출력 -->
  {% if err %}
  <div style="color:white" class="alert alert-dismissible alert-danger">
    <strong>{{err}}</strong> try submitting again.
  </div>
  {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

