<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upm3ra</title>
</head>
<body>
    <h1>Press the button 2 take pic7ur3!</h1>
    {% if {{err}} %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Error!</strong> <a href="#" class="alert-link">{{err}}</a> try submitting again.
          </div>
    {% endif %}
</body>
</html>