<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Upm3ra</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signin">
      <h1>Sign In</h1>
      <form method="POST">
        <label>Username (ID)</label>
        <input type="username" placeholder="Username (ID)" />
        <label>Password</label>
        <input type="password" placeholder="Password" />
        <input type="button" value="Submit" />
      </form>
    </div>
    <p class="para-2">
      Don't have an account? <a href="/signup">Sign up here</a>
    </p>
  </body>
</html>