<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upm3ra</title>
</head>
<body>
    <img src="{{filename}}" alt="Your Imag3"></a>
    <h3>Temp : {{tem}}</h3>
    <h3>Humi : {{hum}}</h3>
    <h3>Light : {{light}}</h3>
    <form method="POST">
        <label>Title</label>
        <input type="title"/>
        <label>Contents</label>
        <textarea name="contents"></textarea>
        <label>Confirm Password</label>
        <input type="button" value="Submit" />
    </form>
</body>
</html>